th {
  text-align: left;
}

ul {
  list-style-type: none;
}

.single_note, .new_note, .edit_note {
  display: none;
}

.title {
  width: 10em;
}

.span1 {
    margin: 0;
}

.btnform {
  margin-top: 19px;
}

input.edit {
  display: none;
}
