<div class='all_notes'>
  <div><a id='new_note' href=''>Create New Note</a>
  </div>

  <div>
    <ul>
      <% @notes.each do |note| %>
        <li><a href=''><%= note .title %></a></li>
      <% end %>
    </ul>
  <div>
</div>
