<div>
  <table class='table table-striped'>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <% @notes.each do |note| %>

    <tr>
      <th class='title'>
          <span class='span1'>
            <a href=''><%= note.title %></a>
            <input id='edit_title' class='span2 edit' id='formtitle' type='text'>
          </span>
        </th>

      <td class='note_content'>
        <span class='span4'>
            <%= note.content %>
            <input id='edit_content' class='span4 edit' id='formtitle' type='text'>
          </span>
      </td>
      <td>
        <input id='edit_submit' class='btn btnform edit' type='submit'>
      <td>
    </tr>

    <% end %>
  </table>
</div>
