<div class='container'>
  <h3>Edit Note: <%= @note.title%></h3>
  <p><%= @note.content %></p>
  <form action='/notes/<%= @note.id %>' method='post'>
    <input type='hidden' name='_update' value='put'>
    <%= erb :_form %>
    <input type='submit' value='submit'>
  </form>
</div>
