<div class="panel">
  <ul class="list-group">
    <% @notes.each do |note| %>
      <li><a href='/note/<%= note.id %>'><%= note.title %></li>
    <% end %>
      <li></li>
  </ul>
</div>
<a href="/note/new"><button type="button" class="btn btn-default navbar-btn">Create New Post</button></a>
