<div class='container layout'
  <div class='all_notes'>
    <%= erb :all %>
  </div>

  <div class='new_note'>
    <%= erb :new_note %>
  </div>

  <div class='single_note'>
  </div>

  <div class='edit_note'>
  </div>

</div>
